*{
    box-sizing: border-box;
}
body {
margin: 0;
padding: 0%;
background:url(./background\ image.jpg) no-repeat center top;
background-size: cover;
font-family: sans-serif;
height: 100vh;
}
header{
    font-size: 100px;
    position: absolute;
    left: 55%;
    top: 5%;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.caja-login{
    width: 320px;
    height: 450px;
    background-color: #fff;
    color: #000000;
    position:absolute ;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-radius: 10%;
    font-size: 14px;
}
.caja-login .avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0%);
}
.caja-login h1{
    margin-bottom: 2%;
    margin-top: 20%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    top: 50px;
}
.caja-login label{
    margin: 0px;
    font-weight: bold;
    padding: 0% 4%;
    display: block;
}
.caja-login input {
    width: 100%;
    margin-bottom: 8%;
}
.caja-login input[type="text"],
.caja-login input[type="password"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    height: 30px;
    outline: none;
    color: #000000;
}
.caja-login input[type="checkbox"]{
    margin-bottom: 20px;
    width: 10%;
}
.caja-login .boton{
    border: none;
    outline:none;
    height: 30px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.caja-login a{
    left: 50%;
    color: #000000;
    font-size: 14px;
    align-content: center;
}
.caja-registro{
    width: 600px;
    height: 320px;
    background:transparent;
    color: #000000;
    position:absolute ;
    top: 30%;
    left: 70%;
    transform: translate(-50%,0%);
    padding: 20px 30px;
    border-radius: 10%;
    margin-top: none;
    font-size: 14px;
}
.caja-registro h1{
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    text-align: center;
    font-size: 25px;
    top: 50px;
}
.caja-registro input{
    margin-bottom: 10px;
    width: 45%;
}
.caja-registro input[type="text"],
.caja-registro input[type="password"],
.caja-registro input[type="email"],
.caja-registro input[type="tel"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    height: 30px;
    outline: none;
    color:#000;
}
.caja-registro input[type="submit"]{
    border: none;
    outline:none;
    height: 30px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    width: 90%;
    margin-top: 20px;
}
.caja-registro a{
    font-size: 14px;
    margin-left: 27%;
    color: #000;
    background-color:transparent;
}
